
<div class="container">

  <h2>Votre coach personel est la !</h2>

  <p>Allez y...posez une question...</p>

  <div class="form-div">
    <form action="/answer" method="GET">
      <input type="text" name="input">
      <input type="submit" value="Ask!">
    </form>
  </div>

</div>
